USE [master]
GO
/****** Object:  Database [PRN292_ASS]    Script Date: 10/30/2019 5:25:27 PM ******/
CREATE DATABASE [PRN292_ASS]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN292_ASS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN292_ASS]
GO
/****** Object:  Table [dbo].[def]    Script Date: 10/30/2019 5:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[def](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[index] [int] NULL,
	[content] [nvarchar](max) NULL,
	[type] [int] NULL,
	[termid] [int] NULL,
 CONSTRAINT [PK_def] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dictionary]    Script Date: 10/30/2019 5:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictionary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dictionary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[term]    Script Date: 10/30/2019 5:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[term](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dictionaryid] [int] NULL,
	[content] [nvarchar](max) NULL,
 CONSTRAINT [PK_terms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[def] ON 

INSERT [dbo].[def] ([id], [index], [content], [type], [termid]) VALUES (1, 1, N'00-database-info', 3, 2)
INSERT [dbo].[def] ([id], [index], [content], [type], [termid]) VALUES (2, 2, N' This is the Vietnamese-English dictionary database of the Free Vietnamese Dictionary Project, and the Open Vietnamese Dictionary Project.', 2, 2)
INSERT [dbo].[def] ([id], [index], [content], [type], [termid]) VALUES (3, 3, N' Copyright (C) 1997-2003 The Free Vietnamese Dictionary Project, (C) 2007 The Open Vietnamese Dictionary Project', 2, 2)
GO
SET IDENTITY_INSERT [dbo].[def] OFF
GO
SET IDENTITY_INSERT [dbo].[dictionary] ON 

INSERT [dbo].[dictionary] ([id], [name]) VALUES (1, N'Anh_Viet')
INSERT [dbo].[dictionary] ([id], [name]) VALUES (2, N'Viet_Anh')
SET IDENTITY_INSERT [dbo].[dictionary] OFF
SET IDENTITY_INSERT [dbo].[term] ON 

INSERT [dbo].[term] ([id], [dictionaryid], [content]) VALUES (1, 2, N'00-database-info')
INSERT [dbo].[term] ([id], [dictionaryid], [content]) VALUES (2, 2, N'00-database-short')
INSERT [dbo].[term] ([id], [dictionaryid], [content]) VALUES (3, 2, N'00-database-url')
GO
SET IDENTITY_INSERT [dbo].[term] OFF
USE [master]
GO
